/* fonts */
@font-face {
    font-family: 'Helvetica Neuecyr Light';
    src: url('../fonts/helveticaneuecyr-light.eot');
    src: url("../fonts/helveticaneuecyr-light.eot") format("embedded-opentype"), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neuecyr Medium';
    src: url('../fonts/helveticaneuecyr-medium.eot');
    src: url('../fonts/helveticaneuecyr-medium.eot') format("embedded-opentype"), url('../fonts/helveticaneuecyr-medium.woff') format('woff'), url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'), url('../fonts/helveticaneuecyr-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neuecyr Roman';
    src: url('../fonts/helveticaneuecyr-roman.eot');
    src: url('../fonts/helveticaneuecyr-roman.eot') format("embedded-opentype"), url('../fonts/helveticaneuecyr-roman.woff') format('woff'), url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../fonts/helveticaneuecyr-roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neuecyr Thin';
    src: url('../fonts/helveticaneuecyr-thin.eot');
    src: url('../fonts/helveticaneuecyr-thin.eot') format("embedded-opentype"), url('../fonts/helveticaneuecyr-thin.woff') format('woff'), url('../fonts/helveticaneuecyr-thin.ttf') format('truetype'), url('../fonts/helveticaneuecyr-thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url("../fonts/OpenSans-Light.eot");
    src: url("../fonts/OpenSans-Light.eot") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url("../fonts/OpenSans-Semibold.eot");
    src: url("../fonts/OpenSans-Semibold.eot") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url("../fonts/OpenSans-ExtraBold.eot");
    src: url("../fonts/OpenSans-ExtraBold.eot") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg") format("svg");
    font-style: normal;
}

/* global styles */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #5c5c5c;
}
ul li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

a, button, input[type="submit"], input[type="cancel"] {
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.no-underline {
    text-decoration: none;
}
a.no-underline:hover {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:active, a:focus {
    outline: none;
    border: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
    border: none;
}
.left-column {
    float: left;
}
.right-column {
    float: right;
}
.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
.hidden {
    display: none;
}

.block-content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.in-wide {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
}
img {
    display: block;
    width: 100%;
}

.button-violet {
    border: 1px solid #9a74aa;
    color: #a875ad;
    background: transparent;
}
.button-violet:hover {
    border: 1px solid #9a74aa;
    background: #9a74aa;
    color: #ffffff;
}
.button-violet:active {
    background: #765385;
    border: 1px solid #765385;
    color: #ffffff;
}

input.verifiable:valid {
    border: 1px solid #1bb551;
}


/* header */
.header-top {
    padding: 12px 30px;
}
.header-top ul li {
    margin-right: 30px;
}
.header-top ul li a {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
}
.form-search {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    position: relative;
    margin-right: 10px;
}
.form-search input[type="text"] {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 12px;
    width: 0;
    border-bottom: 1px solid #cdcdcd;
    position: absolute;
    bottom: -2px;
    right: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.form-search input[type="text"].active {
    width: 300px;
    padding: 0 25px 0 15px;
}

.form-search .show-search {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    background: transparent url('../images/icon-search.png') no-repeat center;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
}

.form-locals {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.current-local {
    height: 20px;
    width: 60px;
    cursor: pointer;
    position: relative;
}
.current-local:after {
    content: '';
    display: block;
    width: 7px;
    height: 4px;
    background: transparent url('../images/sprite-small-arrow.png') no-repeat left center;
    background-size: cover;
    position: absolute;
    top: 8px;
    right: 3px;
}
.current-local.active:after {
    background: transparent url('../images/sprite-small-arrow.png') no-repeat right center;
    background-size: cover;
}
.form-locals ul {
    display: none;
    width: 90px;
    position: absolute;
    top: 32px;
    left: -15px;
    background: #ffffff;
    z-index: 1;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 1);
    -moz-box-shadow: 1px 1px 2px 0 rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 0.1);
    box-shadow: 1px 1px 2px 0 rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 0.1);
}
.form-locals ul:before {
    content: '';
    display: block;
    width: 22px;
    height: 13px;
    background: transparent url('../images/image-local-triangle.png') no-repeat center;
    background-size: cover;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: -10px;
    z-index: 2;
}
.form-locals ul li {
    display: block;
    width: 100%;
    margin: 5px 0;
}
.form-locals ul li .marker, .form-locals ul li label {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    cursor: pointer;
}
.form-locals ul li label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.form-locals ul li input[type='radio']:checked + label:before {
    background: #a875ad url('../images/sprite-icon-ok.png') no-repeat left center;
    background-size: cover;
    border: 1px solid #a875ad;
}
.form-locals .flag {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 11px;
    margin-right: 3px;
}
.flag-rus {
    background: transparent url('../images/icon-flag-rus.png') no-repeat center;
}
.flag-lat {
    background: transparent url('../images/icon-flag-lat.png') no-repeat center;
}
.flag-usa {
    background: transparent url('../images/icon-flag-usa.png') no-repeat center;
}
.form-locals .text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #2e2e2e;
    line-height: 20px;
}

/* header-nav */
.header-nav {
    background: #525252;
    height: 60px;
}
nav ul li {
}
nav ul li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 17px;
    color: #ffffff;
}
nav ul li a:hover, nav ul li a.active {
    color: #efd5f3;
}

/* header-info */
.header-info {
    position: relative;
    padding: 105px 30px 100px;
}
.header-info .phone-number, .header-info .email {
    display: inline-block;
    height: 52px;
    vertical-align: middle;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 20px;
    line-height: 52px;
}
.header-info .email {
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 1px solid #a875ad;
    height: 20px;
    line-height: 20px;
}
.header-info .email:hover {
    border-bottom: 1px solid transparent;
}
.header-info .phone-number:hover {
    text-decoration: none;
}
.header-info .logo {
    display: block;
    width: 159px;
    height: 122px;
    background: transparent url('../images/image-logo.png') no-repeat center;
    background-size: cover;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sign-block {
    display: inline-block;
    vertical-align: middle;
}
.sign-block a {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    position: relative;
    margin-right: 10px;
}
.sign-block a:hover {
    border-bottom: 1px solid #a875ad;
}
.sign-block .sign-up:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 20px;
    border-left: 1px solid #a875ad;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: -6px;
}
.basket-block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.basket-visible {
    position: relative;
    padding: 15px 20px;
    z-index: 2;
    background: #ffffff;
}
.basket-visible, .basket-value {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 15px;
}
.basket-block:hover .basket-visible {
    -webkit-box-shadow: 5px 0 5px -3px rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 1);
    -moz-box-shadow: 5px 0 5px -3px rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 0.1);
    box-shadow: 5px 0 5px -4px rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 0.1);
    color: #a875ad;
}
.basket-block:hover .basket-value {
    color: #a875ad;
}
.icon-basket {
    display: inline-block;
    vertical-align: bottom;
    width: 17px;
    height: 22px;
    background: transparent url('../images/sprite-icon-basket.png') no-repeat left center;
    background-size: cover;
}
.basket-block:hover .icon-basket {
    background: transparent url('../images/sprite-icon-basket.png') no-repeat right center;
    background-size: cover;
}
.form-basket-order {
    display: none;
    width: 280px;
    padding: 15px;
    position: absolute;
    top: 52px;
    right: 0;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 1);
    -moz-box-shadow: 1px 1px 2px 0 rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 0.1);
    box-shadow: 1px 1px 2px 0 rgba(168, 117, 173, 0.1), -1px -1px 2px 0 rgba(168, 117, 173, 0.1);
    background: #ffffff;
    z-index: 1;
}
.basket-block:hover .form-basket-order {
    display: block;
}
.form-basket-order .title {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 14px;
    color: #525252;
    margin-bottom: 5px;
}
.basket-product {
    display: block;
    padding: 10px 0 5px;
    border-top: 1px solid #e7e7e7;
    position: relative;
}
.basket-product:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.basket-product .left-column {
    width: 65px;
}
.basket-product img {
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
.product-counter .control, .product-counter .current-value {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #000000;
    height: 25px;
    line-height: 25px;
    font-weight: 600;
    text-align: center;
}
.product-counter .control {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.product-counter .decrement {
    line-height: 22px;
}
.product-counter .current-value {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 12px;
    border: 1px solid #e7e7e7;
    font-weight: 100;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
}

.basket-product .close-marker {
    display: block;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #b3b3b3;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-transform: lowercase;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 0;
}
.basket-product .right-column {
    width: 175px;
}
.basket-product h5 {
    font-family: 'Helvetica Neuecyr Medium', sans-serif;
    font-size: 14px;
    color: #242424;
    margin: 7px 0 3px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.basket-product .product-description {
    display: inline-block;
    height: 35px;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 13px;
    color: #585858;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
}
.basket-product .product-cost {
    position: absolute;
    right: 0;
    bottom: 8px;
}
.basket-product .cost-text {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 13px;
    color: #585858;
}
.basket-product .cost-value, .basket-product .cost-currency {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 13px;
    color: #525252;
}
.form-basket-order input[type="submit"] {
    width: 100%;
    background: #a875ad;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 13px;
    color: #ffffff;
    padding: 7px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

/* header-bottom */
.header-bottom {
    border-top: 1px solid #e7e7e7;
    padding: 14px 0;
}
.header-bottom ul li {
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 13px;
    color: #5c5c5c;
}
.header-bottom ul li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: transparent url('../images/sprite-icon-ok.png') no-repeat right center;
    background-size: cover;
    margin-right: 5px;
}

/* slider */
.slider-wrap {
    border-bottom: 1px solid #e7e7e7;
}
.slide {
    min-height: 480px;
    padding: 115px 0;
}
.slide, .slide:active, .slide:focus {
    border: none;
    outline: none;
}
.slide-1 {
    background: transparent url('../images/image-slide-1.jpg') no-repeat center;
    background-size: cover;
}
.slide-1 h2 {
    display: block;
    width: 55%;
    font-family: 'Helvetica Neuecyr Thin', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #2e2e2e;
    margin-bottom: 20px;
}
.slide-1 p, .slide-1 p span {
    font-family: 'Helvetica Neuecyr Thin', sans-serif;
    font-size: 24px;
    color: #2e2e2e;
}
.slide-1 p {
    display: inline-block;
    padding-top: 5px;
    border-top: 1px solid #a875ad;
}
.slide-1 p span {
    font-family: 'Helvetica Neuecyr Roman', sans-serif;
}
.slide-1 a {
    display: block;
    width: 255px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Helvetica Neuecyr Light', sans-serif;
    font-size: 15px;
    margin-top: 65px;
}

.slider-dots {
    padding: 13px 30px;
}
.slider-dots li {
    font-family: 'Helvetica Neuecyr Light', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.slider-dots li.active {
    color: #a875ad;
}

/* products tab */
.products-tab {
    position: relative;
    margin: 35px auto;
}
.tab-controls li {
    font-family: 'Helvetica Neuecyr Thin', sans-serif;
    font-size: 18px;
    color: #000000;
    border-bottom: 1px dashed #000000;
    margin-right: 40px;
    cursor: pointer;
}
.tab-controls li:hover {
    border-bottom: 1px dashed transparent;
}
.tab-controls .active {
    font-family: 'Helvetica Neuecyr Roman', sans-serif;
    font-size: 20px;
    color: #242424;
    border-bottom: 1px dashed transparent;
}

.products-tab .show-all {
    position: absolute;
    top: 2px;
    right: 30px;
}
.products-tab .show-all li {
    display: none;
    font-family: 'Helvetica Neuecyr Thin', sans-serif;
    font-size: 15px;
    color: #000000;
}

.products-tab .show-all .active {
    display: inline-block;
}
.products-tab .tab {
    margin-top: 25px;
}
.products-tab .tab li {
    display: none;
}
.products-tab .tab .active {
    display: block;
}
.product-card {
    display: inline-block;
    width: 31.5%;
    position: relative;
    border: 1px solid #e7e7e7;
    text-align: left;
    -ms-text-align-last: left;
    text-align-last: left;
    margin: 1% 0;
}
.product-card img {
    margin-bottom: 20px;
}
.product-card .marker {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -ms-text-align-last: center;
    text-align-last: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-family: 'Open Sans Bold', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    left: 10px;
    top: 15px;
}
.marker-percent {background: #f25959;}
.marker-hot {background: #ffa200;}
.marker-new {background: #62d282;}
.marker-rec {background: #599bee;}

.product-card h4 {
    display: inline-block;
    width: 65%;
    font-family: 'Helvetica Neuecyr Medium', sans-serif;
    font-size: 18px;
    color: #242424;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
    float: left;
}
.product-card .product-description {
    display: inline-block;
    width: 65%;
    height: 40px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    color: #616161;
    margin-left: 15px;
    float: left;
    margin-bottom: 15px;
}
.product-card .product-counter {
    width: 20%;
    float: right;
    margin-right: 15px;
}
.product-card .add-to-cart {
    display: block;
    width: 65%;
    height: 50px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 16px;
    text-align: center;
    -ms-text-align-last: center;
    text-align-last: center;
    position: relative;
    padding-right: 30px;
}
.product-card .add-to-cart:after {
    content: '+';
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    font-family: 'Open Sans Light', sans-serif;
    color: #a875ad;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
}
.product-card .add-to-cart:hover:after, .product-card .add-to-cart:active:after {
    color: #ffffff;
}

.product-card .product-cost {
    width: 35%;
    text-align: center;
    -ms-text-align-last: center;
    text-align-last: center;
}
.product-card .product-cost span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 18px;
    color: #000000;
}

/* form-mailing */
.form-mailing {
    height: 70px;
    border: 1px solid #e7e7e7;
    background: #f8f8f8;
    padding: 0 4%;
}
.form-mailing .title {
    display: inline-block;
    line-height: 70px;
    font-family: 'Helvetica Neuecyr Roman', sans-serif;
    font-size: 17px;
    color: #2c2c2c;
}
.form-mailing label {
    margin: 0 10px 0 30px;
    position: relative;
}
.form-mailing .field-email {
    display: inline-block;
    width: 255px;
    height: 30px;
    color: #000000;
    padding: 0 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #e7e7e7;
}
.form-mailing .field-email::-webkit-input-placeholder {font-family: 'Open Sans Light', sans-serif; font-size: 14px; color: #5c5c5c;}
.form-mailing .field-email::-moz-placeholder {font-family: 'Open Sans Light', sans-serif; font-size: 14px; color: #5c5c5c;}
.form-mailing .field-email:-moz-placeholder {font-family: 'Open Sans Light', sans-serif; font-size: 14px; color: #5c5c5c;}
.form-mailing .field-email:-ms-input-placeholder {font-family: 'Open Sans Light', sans-serif; font-size: 14px; color: #5c5c5c;}
.form-mailing .field-email:focus::-webkit-input-placeholder {color: transparent;}
.form-mailing .field-email:focus::-moz-placeholder {color: transparent;}
.form-mailing .field-email:focus:-moz-placeholder {color: transparent;}
.form-mailing .field-email:focus:-ms-input-placeholder {color: transparent;}
.validatr-message {
    display: none;
}
.form-mailing .form-submit {
    display: inline-block;
    width: 133px;
    height: 30px;
    border: 1px solid #a875ad;
    background: #a875ad;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #ffffff;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 13px;
}

/* ads */
.ads {
    margin: 30px 0 55px;
}
.ads li a {
    display: block;
    border: 1px solid #e7e7e7;
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.ads a:hover:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: .2;
    position: absolute;
    left: 0;
    top: 0;
}

/* articles-short */
.articles-short .left-column,.articles-short .right-column {
    width: 50%;
}
.promo-text {
    padding-right: 30px;
}
.promo-text h3 {
    font-family: 'Helvetica Neuecyr Thin', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #000000;
    line-height: 30px;
}
.promo-text p {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 15px;
    color: #000000;
    margin-top: 20px;
}
.articles-short ul {
    margin-top: 25px;
}
.articles-short .right-column .title {
    display: inline-block;
    font-family: 'Helvetica Neuecyr Roman', sans-serif;
    font-size: 20px;
    color: #242424;
    line-height: 30px;
}
.articles-short .right-column .show-all {
    display: inline-block;
    font-family: 'Helvetica Neuecyr Thin', sans-serif;
    font-size: 14px;
    color: #242424;
    text-decoration: none;
    border-bottom: 1px solid #a875ad;
}
.articles-short .right-column .show-all:hover {
    border-bottom: 1px solid transparent;
}
.article-short {
    width: 250px;
    text-align: left;
    -ms-text-align-last: left;
    text-align-last: left;
    font-family: 'Open Sans Regular', sans-serif;
    margin-bottom: 30px;
}
.article-short .left-column {
    width: 70px;
}
.article-short .right-column {
    width: 160px;
}
.article-short h5 {
    font-size: 14px;
    color: #202020;
    font-weight: 100;
    height: 40px;
    overflow: hidden;
}
.article-short .article-date {
    font-size: 12px;
    color: #756d6d;
}
/* footer */
.footer {
    margin-top: 5%;
}
.footer-top {
    background: #f8f8f8;
}
.footer-top ul li {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 18px;
    margin: 2.5% 0;
}
.footer-top ul li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 28px;
    margin-right: 5px;
}
.footer-top ul li:nth-child(1):before {
    background: transparent url('../images/sprite-icon-advantages.png') no-repeat left center;
    background-size: cover;
}
.footer-top ul li:nth-child(2):before {
    background: transparent url('../images/sprite-icon-advantages.png') no-repeat 32% center;
    background-size: cover;
}
.footer-top ul li:nth-child(3):before {
    background: transparent url('../images/sprite-icon-advantages.png') no-repeat 65% center;
    background-size: cover;
}
.footer-top ul li:nth-child(4):before {
    background: transparent url('../images/sprite-icon-advantages.png') no-repeat right center;
    background-size: cover;
}

/* footer-middle */
.footer-middle {
    background: #4a4949;
}
.footer-middle .block-content {
    padding: 35px 30px 0;
}
.footer-middle .block-content:after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid #655e54;
    margin: 30px auto 0;
}
.footer-links {
    vertical-align: top;
    text-align: left;
    -ms-text-align-last: left;
    text-align-last: left;
}
.footer-links .title {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 19px;
    color: #ffffff;
}
.footer-links .sub-title {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 18px;
    color: #cacaca;
}
.footer-links li {
    display: block;
    margin-top: 20px;
}
.footer-links a {
    display: inline-block;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 14px;
    color: #cacaca;
}
.footer-links.social .title {
    margin-bottom: 15px;
}
.footer-links.social ul {
    padding: 0;
    margin-bottom: 20px;
}
.footer-links.social ul li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 0;
}
.footer-links.social ul li a {
    display: block;
    width: 28px;
    position: relative;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.footer-links.social ul li a:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.5;
}
.footer-links.social ul li a:hover:after {
    opacity: 0;
}
.footer-links .phone-number {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 6px;
}
.footer-links .payment-image {
    display: inline-block;
    width: 45%;
    margin-top: 15px;
}

/* footer-bottom */
.footer-bottom {
    background: #4a4949;
}
.footer-bottom .copyrights, .footer-bottom .markello-block, .footer-bottom a {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 13px;
    color: #d7d7d7;
    height: 50px;
    line-height: 50px;
}
.footer-bottom .markello-block a:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 9px;
    background: transparent url('../images/icon-markello-logo.png') no-repeat center;
    margin-left: 5px;
}